@import "tailwindcss" source(none);

@source "../**/*.{templ}";

@plugin "./daisyui.js" {
    /*themes: emerald --default, dim --prefersdark, cupcake;*/
    themes: emerald --default, cupcake;
}

.menu li>*.menu-active,
.menu li>*:not(ul):not(.menu-title):not(details):active {
    @apply bg-primary;
    @apply text-primary-content;
}

.input:focus, .select:focus {
    @apply ring-2 ring-primary/20;
}