package core;

templ GraphContent() {
    <div id="main" style="width: 100%; height: 100%;"></div>
    <script src="/static/public/echarts.min.js"></script>
    <script src="/static/public/chart.js"></script>
}