body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

button, .button, .icon-button {
    all: unset;
}

input[type="radio"] {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.nav {
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 1rem;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.nav > h1 {
    margin: 0;
    padding: 0;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.icon-info {
    padding: 0.5rem 0.5rem;
    margin: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-info > img {
    width: 1rem;
    height: 1rem;
}

button, .button, .icon-button {
    padding: var(--button-padding) 1rem;
    margin: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
}

button:disabled, .button:disabled, .icon-button:disabled, .adorned-button:disabled,
button.disabled, .button.disabled, .icon-button.disabled, .adorned-button.disabled {
    background-color: var(--color-secondary);
}

.disabled, .disabled:hover {
    cursor: default;
}

button:not([disabled]), .icon-button:not([disabled]),
button:not(.disabled), .button:not(.disabled), .icon-button:not(.disabled) {
    cursor: pointer;
}

.icon-button {
    width: 2rem;
    height: 2rem;
    padding: var(--button-padding);
}

.adorned-button, .button {
    height: 2rem;
}

.adorned-button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
    margin: 0;
    background-color: var(--color-primary);
    color: black;
    border-radius: 0.5rem;
}

.reset {
    background-color: var(--color-secondary);
}

button:not([disabled]):hover, button:not([disabled]):focus, .button:not(.disabled):hover, .button:not(.disabled):focus, .icon-button:not(.disabled):hover, .icon-button:not(.disabled):focus {
    background-color: var(--color-highlight);
    outline: none;
    cursor: pointer;
}

button:not([disabled]):active, button:not(.disabled):active, .button:not(.disabled):active, .icon-button:not(.disabled):active, label.button:has(input[type="radio"]:checked) {
    background-color: var(--color-bold);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.group {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 1px;
}

.nogap {
    gap: 0;
}

.group.column {
    flex-direction: column;
    align-items: stretch;
}

.group > * {
    border-radius: 0;
}

/*.group:not(.column) > :not(:last-child) {*/
/*    border-right: solid 1px var(--color-muted);*/
/*}*/

/*.group.column > :not(:last-child) {*/
/*    border-bottom: solid 1px var(--color-muted);*/
/*}*/

.group:not(.column) > *:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.group.column > *:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.group:not(.column) > *:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.group.column > *:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

details summary {
    display: flex;
    cursor: pointer;
    margin: 0;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 0.5rem;
}

details .details-empty {
    margin: 0;
    padding: 1rem 2rem;
}

details summary :first-child {
    flex-grow: 1;
}

.secondary-text {
    flex-shrink: 0;
    color: var(--color-muted);
    align-self: center;
    font-size: 80%;
    text-align: right;
    padding-right: 0.7rem
}

hr {
    border: 0;
    border-top: 1px solid var(--color-muted);
    margin: 0;
    /*margin: 0.2rem 0;*/
}

.chore-container {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-accent);
    /*margin: 0.5rem 0.5rem;*/
    border-radius: 0.5rem;
    align-items: center;
}

.chore-container > p, a {
    margin: 0;
}

.chore-container p, a {
    margin: 0;
    padding: 0 1rem
}

.chore-container .name {
    flex-grow: 8;
    align-content: center;
}

@media (min-width: 550px) {
    .nav {
        width: 500px;
    }

    .container {
        width: 500px;
    }
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
}

body {
    background-color: var(--color-background);
}

:root {
    --color-background: #ffffff;
    --color-submit-text: #ffffff;
    --color-accent: #fff4f5;
    --color-list-element-alt1: #ffe8ea;
    --color-list-element-alt2: #fff0e1;
    --color-primary: #ffdce3;
    --color-secondary: #b3b3b3;
    --color-muted: #bfbfbf;
    --color-tertiary: #333;
    --color-highlight: #FFB6C1;
    --color-bold: #FF9CAD;
    --button-padding: 3px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #222;
        --color-submit-text: #333;
        --color-accent: #444;
        --color-primary: #ae9599;
        --color-secondary: #666;
        --color-muted: #777;
        --color-tertiary: #888;
        --color-highlight: #FFB6C1;
        --color-bold: #FF9CAD;
    }
}

#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: unset;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    backdrop-filter: blur(3px);

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

body:has(dialog[open]) {
    /*overflow: hidden;*/
    /*position: fixed;*/
}

details summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    display: none;
}

summary::before {
    content: "";
    display: inline-block;
    width: 16px; /* Adjust as needed */
    height: 16px;
    background-image: url("/static/public/icons/chevron-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    transition: transform 0.2s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

#modal > .modal-underlay {
    /* underlay takes up the entire viewport. This is only
    required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal > article {
    /* Position visible dialog near the top of the window */

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 500px;

    /* Display properties for visible dialog*/
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--color-background);
    padding: 20px;

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing > article {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

article {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--color-background);
}

.modal-header, .modal-sub-header, .modal-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.modal-header {
    padding: 0.5rem 0 0 0;
}

.modal-footer {
    padding: 0 0 0.5rem 0;
}

.modal-footer:has(> :only-child) {
    justify-content: flex-end;
}

:focus {
    /*outline: 1px solid var(--color-bold);*/
}

.modal-header > h2, h3 {
    margin: 0;
    padding: 0;
}

.modal-body {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1.5rem
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.login-form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: [label] auto [input] 1fr;
}

.login-form > label {
    grid-column: label;
    align-self: center;
}

.login-form > input {
    grid-column: input;
    align-self: center;
    justify-self: left;
}

.login-form > button[type="submit"] {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

input {
    margin: 0;
    padding: var(--button-padding) 1rem;
    border: 1px solid var(--color-muted);
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 1rem;
}

input:focus {
    background-color: var(--color-accent);
    outline: 1px solid var(--color-bold);
}

input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-submit-text);
    border: 0;
    border-radius: 0.5rem;
    padding: var(--button-padding);
    margin: 0.5rem 0;
}

input[type=checkbox] {
    accent-color: var(--color-primary);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}