{{- /*gotype: github.com/SimonSchneider/pefigo/internal/core.Index*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.gohtml" "Pefigo Dashboard" }}
</head>
<body>
<main>
    {{ template "account_list.gohtml" .Accounts }}
    {{ template "transfer_template_list.gohtml" .Transfers }}
    {{ template "userList.gohtml" .Users }}
</main>
</body>
</html>
